<h2>Welcome to web</h2>
<p>Symfony {{ symfony_current }}!</p>
<p>Php {{ php_version }}!</p>

<h1>Api</h1>
<ul>
<li><a href="http://127.0.0.1:8000/lunch">http://127.0.0.1:8000/lunch</li>
<li><a href="http://127.0.0.1:8000/best-before/2019-03-05">http://127.0.0.1:8000/best-before/2019-03-05</li>
<li><a href="http://127.0.0.1:8000/use-by/2019-02-02">http://127.0.0.1:8000/use-by/2019-02-02</li>
</ul>